@use '../settings/' as *;

.l-footer {
    padding-top: rem(72);
    padding-bottom: rem(16);
}

.l-footer__inner {
    justify-content: space-between;
    flex-direction: column;
}

.l-footer__logo {
    text-align: center;
    max-width: rem(300);
}

.l-footer__lists {
    gap: rem(24);
    text-align: center;
    flex-wrap: wrap;
}

.l-footer__list {
    text-transform: uppercase;
    font-weight: var(--bold);
}
.l-footer__list a {
    &:hover {
        opacity: 0.6;
    }
}

.l-footer__info {
    margin-top: rem(80);
    @include mq('lg') {
        margin-top: 0;
    }
}

.l-footer__wrap {
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid #333;
    padding-bottom: rem(6);
    flex-direction: row;
    max-width: rem(400);
}

.l-footer__company {
    color: var(--text-main);
    font-size: rem(20);
    font-weight: 500;
    letter-spacing: em(1.6, 20);
    line-height: normal;
    &:hover {
        opacity: 0.6;
    }
}
.l-footer__company span {
    display: block;
    font-size: rem(13);
    letter-spacing: em(1.04, 13);
    line-height: normal;
}
.l-footer__social {
    gap: rem(12);
    flex-direction: row;
    a {
        &:hover {
            opacity: 0.6;
        }
    }
}

.l-footer__access {
    margin-top: rem(16);
    gap: rem(12);
    @include mq('lg') {
        flex-direction: column;
    }
}
.l-footer__access dt,
dd {
    font-size: fluid(14, 15);
    line-height: 1.8;
    letter-spacing: em(1.2, 15);
}
.l-footer__access dt {
    min-width: rem(64);
    font-family: var(--bold);
}
.l-footer__access dd {
    word-break: keep-all;
    @include mq('lg') {
        word-break: normal;
    }
}
.l-footer__access .flex {
    gap: rem(34);
    flex-direction: row;
    @include mq('lg') {
        // flex-direction: column;
    }
}

.l-footer__bottom {
    text-align: center;
    margin-top: fluid(50.38, 66);
}
