@use "../settings" as *;

.p-works-detail {
  background-color: var(--bg-main);
  min-height: 100vh;
  padding-top: fluid(10,67); // Header allowance
  padding-bottom: fluid(52,100);

  &__inner {
    display: flex;
    align-items: start;
    flex-direction: column;
    max-width: fluid(320,1280);
    margin-inline: auto;
    gap: fluid(32,80);
    @include mq('md'){
      flex-direction: row;

    }

  }

  /* 左側：画像エリア */
  &__left {
    width: 100%;
    @include mq('md'){
      max-width: fluid(320,800);

    }
  }

  &__images {
    display: flex;
    flex-direction: column;
    gap: fluid(10,32);
  }

  &__image-item {
    margin-right: auto;
    img {
      width: 100%;
      height: auto;
      display: block;
      object-fit: cover;
    }

    &.is-higher {
      max-width: fluid(320,500);

    }
  }

  /* 右側：テキストエリア */
  &__right {
    position: relative;
    width: 100%;
    // margin: rem(32) auto 0 ;
    @include mq(md) {
      max-width: fluid(320,400);
      position: sticky;
      top: rem(140);
      // margin: 0 auto;
    }
  }

  &__content-wrapper {
    display: flex;
    flex-direction: column;
    gap: fluid(32,40);
    width: 100%;
    @include mq('md'){
      margin-inline: auto;
    }

  }

  &__title {
    font-size: rem(18);
    font-weight: var(--medium);
    line-height: 1.6;
    letter-spacing: 0.1em;
    margin: 0;
    color: var(--text-main);

    br {
      display: block; // Always break
    }
  }

  &__text {
    font-size: rem(13);
    line-height:per-lh(24,14);
    color: var(--text-main);
    font-weight: var(--regular);
    letter-spacing: normal;
  }

  &__info {
    margin: 0;
    font-size: rem(13);
    font-weight: 300;
    line-height:per-lh(24,13);
    letter-spacing: normal;
    text-transform: uppercase;
    color: var(--text-main);
  }

  &__info-item {
    display: flex;
    gap: 0.5em;

    dt {
      flex-shrink: 0;
    }
    dd {
      margin: 0;
    }
  }

  &__link {
    margin-top: rem(10);

    a {
      font-family: var(--font-en-sub);
      font-size: rem(24);
      color: var(--text-accent);
      text-decoration: none;
      display: inline-flex;
      align-items: center;
      gap: rem(4);
      transition: opacity 0.3s;

      &:hover {
        opacity: 0.7;
      }
    }

    &-icon {
      width: rem(21);
      height: rem(21);
      display: inline-block;
      background-image: url("../img/icon-link.svg");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  &__back {
    margin-top: fluid(0,20);
  }
}

