@use '../settings/' as *;

.c-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-btn-link {
    border-radius: 48px;
    font-size: fluid(16, 20);
    font-weight: var(--bold);
    letter-spacing: em(1.6, 20);
    line-height: normal;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
    transition: ease 0.3s;
    padding: rem(18) rem(56);
    &.--primary {
        background-color: var(--color-primary);
       &:hover{
         color: var(--text-link);
       }
    }
    &.--accent{
        background: var(--color-accent);
        border: 1px solid var(--color-accent);
        color: var(--text-cta);
    }
}
