@use '../settings/' as *;

.c-cta {
    background-color: var(--bg-cta);
    padding: fluid(30,60);
    color: var(--text-sub);
}

.c-cta__container {
}

.c-cta__head {
   
}

.c-cta__text {
    text-align: center;
     margin: fluid(30,48) auto;
     color: var(--text-cta);
     line-height: 1.5;
}

.c-cta__btn {
    margin-top: fluid(30,60);
}
