@use '../settings/' as *;

.c-drawer {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    transition: right 0.3s ease-in-out;
    z-index: 999;
    //カバー背景
    &:after {
        content: '';
        position: absolute;
        // top: rem(-20);
        top: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(77, 70, 64, 0.848);
        z-index: -1;
        @include mq(1280) {
            display: none;
        }
    }
    @include mq(1280) {
        position: static;
        width: auto;
        height: auto;
        box-shadow: unset;
        border-radius: 48px;
        flex-direction: row;
        display: flex;
    }

    &.is-open {
        right: 0;
    }
}
.c-drawer__wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    place-self: center;
    inset: 10% 0;
    margin-inline: auto;
    max-width: rem(500);
    width: 100%;
    height: auto;
    z-index: 999;
    @include mq(1280) {
        position: static;
        width: auto;
        height: auto;
        box-shadow: unset;
        flex-direction: row;
        width: 100%;
        max-width: none;
        margin-left: auto;
    }
}
.c-drawer__inner {
    padding: rem(20);
}
.c-drawer__nav {
    display: flex;
    flex-direction: column;
    gap: rem(20);
}
.c-drawer__lists {
    list-style: none;
    margin: 0;
    padding: 0;
}
.c-drawer__lists a {
    color: #fff;
    text-decoration: none;
    font-size: rem(16);
    &:hover {
        text-decoration: underline;
    }
}

.c-drawer__btn {
    cursor: pointer;
    padding: rem(18) rem(12) rem(18) rem(18);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: rem(52);
    height: rem(52.5);
    transition: background-color 0.3s;
    z-index: 10000;
    @include mq(1280) {
        display: none;
    }
    &.is-open {
        .c-drawer__bars span {
            &:nth-child(1) {
                transform: translateY(8px) rotate(45deg);
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                transform: translateY(-8px) rotate(-45deg);
            }
        }
    }
}
.c-drawer__bars span {
    display: block;
    width: rem(22);
    height: rem(3);
    background-color: var(--bg-accent);
    transition: background-color 0.3s;
    &:nth-child(2) {
        margin: rem(5) 0;
    }
}
