@use '../settings/' as *;

.c-heading {
    //全見出しの共通スタイルだけ登録
    color: var(--text-body);
    font-weight: var(--bold);
    line-height: normal;
    
    &.--h2 {
        font-size: fluid(28, 36);
        line-height: 1;
        letter-spacing: em(3.2, 36);
        text-align: center;
    }

    &.--h3 {
        font-size: fluid(16, 24);
        letter-spacing: em(1.6, 24);
    }
}