@use "../settings/" as *;

.c-heading {
  //全見出しの共通スタイルだけ登録
  color: var(--text-main);
  font-weight: var(--regular);
  font-family: var(--font-en);
  text-transform: uppercase;

  &.--h2 {
    font-size: fluid(64, 84);
    line-height: 1;
    padding-bottom: rem(29);
    margin-bottom: rem(10);
    letter-spacing: 0.05em;
  }

  &.--h3 {
    font-size: fluid(16, 24);
    letter-spacing: em(1.6, 24);
  }
}
