@use '../settings/' as *;

.c-heading {
    //全見出しの共通スタイルだけ登録

    &.--h2 {
        color: var(--text-main);
        font-size: fluid(24, 40);
        font-weight: 700;
        line-height: 1;
        letter-spacing: em(3.2, 40);
        text-align: center;
    }
    &.--h3 {
        color: var(--color-base);
        font-size: fluid(18, 20);
        font-weight: var(--bold);
        line-height: normal;
        letter-spacing: em(1.6, 20);
    }
}
