@use 'sass:math';
@use 'functions' as *;
@use 'mixin' as *;

//* ===============================================
//#調整用追加クラス
//=============================================== *//
.flex {
    display: flex;
    flex-direction: column;
    @include mq('md') {
        flex-direction: row;
    }
}
.flex-c {
    display: flex;
    flex-direction: column;
}
.flex-r {
    display: flex;
    flex-direction: row;
}

.font-bold {
    font-weight: var(--font-bold);
}

.color-primary {
    color: var(--color-primary);
}

.color-secondary {
    background: var(--color-secondary);
}
.relative {
    position: relative;
}

/* =========================================
   Visibility クラス(MQ Base)
   ※ どうしても画面幅で消したい時用
   ========================================= */

/* スマホ〜タブレットだけで表示（PCで消す） */
.sp-only {
    display: block;
    @include mq('lg') {
        display: none !important;
    }
}

/* PCだけで表示（スマホ〜タブレットで消す） */
.pc-only {
    display: none;
    @include mq('lg') {
        display: block !important;
    }
}

//* ===============================================
//# アニメーション
//=============================================== *//

/* 初回訪問時のフェードインアニメーション */
html.is-first-visit body {
    animation: fadeInOnFirstVisit 0.8s ease-out forwards;
}

@keyframes fadeInOnFirstVisit {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* スクロールすると下からふわっと */
.inview {
    transform: translateY(30px);
    opacity: 0;
    transition: transform 2s, opacity 2s;
}

.inview.show {
    transform: translateY(0);
    opacity: 1;
}
